@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900");
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
*{
   margin: 0px;
   padding: 0px;
    scroll-behavior: smooth;
    overflow-y:auto;
    overflow-x: hidden;
     font-family: 'Poppins', sans-serif;
}
body{
  background-color: rgb(237, 238, 238);
}

header{
   position: fixed !important;
   top: 0;
   left: 0;
   width: 100%;
 padding: 25px;
   display: flex !important;
   flex-direction: row;
   justify-content:space-evenly !important ;
   align-items: center;
   z-index: 100;
   background-color: #fff;
   box-shadow:  0px 0px 7px #aaaaaa,
             -25px 0px 30px #ffffff;
               -webkit-transition: all .5s ease 0s;
  -moz-transition: all .5s ease 0s;
  -o-transition: all .5s ease 0s;
  transition: all .5s ease 0s;
}
.main .logo{
font-family: 'Poppins', sans-serif;
font-size: 25px;
font-weight: 800;
color: black;
 -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
a{
  text-decoration: none !important;
}

header nav ul{
   display:inline-flex;
}
header nav ul li a{

  font-size: 18px;
  margin: 18px 25px 18px 18px ;
   cursor: pointer;
  font-family: 'Poppins', sans-serif;
  transition: .2s ease-in-out;
   color: black;
   -webkit-transition: all 0.4s ease 0s;
  -moz-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
  
}
nav a.active{
   color:black;
   font-weight: 600;

}
header nav a:hover{
   color:black;
   font-weight: 800;
}
.menu i{
  font-size:30px;
  color: black;
  margin: 16px;
  margin-top: 20px;
  cursor: pointer;
  display: none;
}
#close{

    font-size:30px;
  color: black;
  margin: 16px;
  margin-top: 20px;
  cursor: pointer;
  display: none;
}
/* moblie based design */



@media screen and (max-width:767px){
  header{
   box-shadow: none;
   padding:40px;
   box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
    border-radius: 0px 25px 25px 25px;
   max-width: 100%;
   
  }
.main .logo{
font-family: 'Poppins', sans-serif;
font-size: 22px;
font-weight: 800;
color: black;
position: absolute;
top: 30px;
left: 10px;
}
.menu i{
  display: block !important;
  position: absolute;
top: 20px;
left: 450px;
-webkit-transition: opacity 0.25s ease;
  transition: opacity 0.25s ease;
}
#close{
    
  position: absolute !important;
top: 20px;
left: 450px;
-webkit-transition: opacity 0.25s ease;
  transition: opacity 0.25s ease;
}
header nav ul{
  display: none;
  flex-direction: column;
  margin-left: 150px;
   -webkit-transition: all 0s ease 0s;
    -moz-transition: all 0s ease 0s;
    -o-transition: all 0s ease 0s;
    transition: all .2s ease .2s;
    margin-left: 0px;
}

header nav ul li{
  line-height: 50px;

}
}

/* body section part */
.main .bodyContainer{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;

}

.main .bodyContainer section h1{
margin-top: 260px;
text-align: center;
text-transform: capitalize;
font-size: 70px;
font-family: 'Poppins', sans-serif;
}
.main .bodyContainer section p{
  align-items: center;
  text-align: center;
  max-width: max-content;
  margin: 10px 300px 30px 300px;
  font-size: 20px;
font-weight: 500;
  color: rgb(61, 61, 61);
font-family: 'Poppins', sans-serif;
}
.main .bodyContainer section .viewwork{
align-items: center;
text-align: center;
padding: 15px 30px;
border: none;
border-radius: 6px;
background-color: black;
color: white;
font-weight: 500;
font-family: 'Poppins';
font-size: 18px;
cursor: pointer;
margin-left:44%;
transition: ease .4s;
}
.main .bodyContainer section .viewwork:hover{
background-color: #252525;
}

/* feature portfolio section */

.main .bodyContainer .feature-portfolio h1{
text-align: center;
text-transform: capitalize;
font-size: 40px;
font-family: "Roboto", sans-serif;
font-weight: 500;
letter-spacing: 7px;

}
.featureContainer{
  display: grid;
   grid-template-columns:repeat(3,1fr);
   gap:12px;
   width:1430px;
    padding-top:30px;
     padding-bottom: 180px;
}

.featureContainer .feature-content{
display:flex;
flex-direction: column;
border: 2px solid rgb(212, 209, 209);
border-radius: 7px;
text-align:center ;
align-items: center;
overflow:hidden;
width:95%;
cursor: pointer;
}
.featureContainer .feature-content p{
  font-size: 17px !important;

  color: black !important;
  margin: 13px !important;
  overflow: hidden;
  font-weight: bold !important;
  text-transform: capitalize !important;
 }
 .featureContainer .feature-content span{
  padding:15px;
  justify-content:flex-start;
  text-transform: capitalize;
  color: rgb(112, 112, 112);
  font-weight: 500;
 }
.featureContainer .feature-content .image{
  display: flex;
align-items: center;
justify-content: center;
  text-align: center;
  padding: 20px;
  width: 100%;
  height: 180px;
  background-color: #9197ac;
  color:white;
font-size: 19px;
font-weight: 500;
font-family: 'Poppins', sans-serif;
text-transform: capitalize;
}

/* footer design */

.contentContainer{
  display:flex;
  flex-direction: row;
  padding: 60px;
  justify-content: space-evenly;
  
  background-color: black;
}
.contentContainer h2{
color: rgb(234, 230, 230);
font-size: 20px;
font-weight: 400;
}
.contentContainer  p{
color: rgb(169, 166, 166);
font-family: 'Poppins', sans-serif;
font-weight: 500;
padding-top:5px;
cursor: pointer;
}
 .contactInfo i{
font-size: 18px;
cursor: pointer;
}
.contentContainer .quicklinks{
  display: flex;
  flex-direction: column;
  align-items: center;
  
 }
 .contentContainer .quicklinks a{
  padding-top: 5px;
  color: rgb(169, 166, 166);
  font-family: 'Poppins', sans-serif;
font-weight: 500;
 }
  .contentContainer .followus{
display: flex;
flex-direction: row;
}
  .contentContainer .followus i{
    font-size: 20px;
    color: white;
  }