@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900");
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://cdn-uicons.flaticon.com/3.0.0/uicons-brands/css/uicons-brands.css');
@import url('https://cdn-uicons.flaticon.com/3.0.0/uicons-solid-straight/css/uicons-solid-straight.css');

.main{
 
    text-align: center;
}

.main section,h1{
    margin-top: 70px;
text-align: center;
text-transform: capitalize;
font-size: 30px !important;
font-family: 'Poppins', sans-serif;
font-weight: 550;
letter-spacing:normal;
}
.serviceBox{
    display: flex;
    flex-direction: column;
  align-items: center;
  border: 1px solid rgb(207, 204, 204);
  border-radius: 7px;
  background-color: rgb(249, 249, 249);
  padding:25px 20px;
  cursor: pointer;
}

.serviceBox:hover{
      box-shadow:  0px 0px 7px #aaaaaa,
             -25px 0px 30px #eeeded;
               -webkit-transition: all .5s ease 0s;
  -moz-transition: all .5s ease 0s;
  -o-transition: all .5s ease 0s;
  transition: all .5s ease 0s;
}

.serviceGrid{
 display: grid;
grid-template-columns:repeat(4,1fr);
gap: 25px;
cursor: pointer;
padding:40px;
 }
.fontIcon{
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    overflow: hidden;
    background-color: rgb(64, 63, 63);
    border-radius: 9px;

}
.serviceGrid .serviceBox .fontIcon i{
    font-size: 16px;
    color: white;
    margin-left: 4px;
    margin-top: 5px;
}
.serviceGrid .serviceBox p{
    font-size: 15px !important;
   color: black !important;
  margin: 13px;
  overflow: hidden;
letter-spacing: normal;
margin-bottom: 26px;
  text-transform: capitalize !important;
}
.serviceGrid .serviceBox span{
  
  text-align:center;
  text-transform: capitalize;
  font-family: 'Poppins', sans-serif;
  color:rgb(44, 43, 43);
font-size: 13px;
font-weight: 500;
letter-spacing: normal;

}
.serviceGrid .serviceBox ul{
  display: flex;
  flex-direction: column;
  text-align: start;
margin-top: 20px;
}
.serviceGrid .serviceBox ul li{
  list-style-type:disc;
  font-size: 14px;
  letter-spacing: normal;
  font-weight: 400;
  list-style-position: inside;
  margin-top: 10px;
}
/* from container start */
#project-head{
margin-top: 70px;
}
.projectContainer{
  margin: 40px 280px 30px 280px;
  display: flex;
  flex-direction: column;
  padding: 40px;
    background-color: white;

}
.formContainer{
  display: flex;
  flex-direction:row;  
}
.formContainer .firstRow{
  display: flex;
  flex-direction: column;
}
.formContainer .secRow{
  display: flex;
  flex-direction:column;
}
.formContainer label,option{
font-size: 18px;
letter-spacing: 0px;
text-align: start;
 margin: 10px;
  font-family: 'Poppins', sans-serif;
}
.formContainer input,select{
  padding: 15px  150px;
  border-radius: 5px;
 border: 1px solid gray;
 margin: 10px;
 text-align: center;
}
.projectContainer label{
  font-size: 15px;
letter-spacing: 0px;
text-align: start;
 margin: 10px;
  font-family: 'Poppins', sans-serif;
}
                           
.projectContainer textarea{
padding: 40px;
  border-radius: 5px;
 border: 1px solid gray;
 align-items: start;
 color: gray;
 font-size: 15px;
text-align: start; 
margin: 10px; 

}
.projectContainer button{
  color: white;
  padding:10px;
  border: none;
  margin: 10px;
  cursor: pointer;
  border-radius: 3px;
background-color: black;
font-weight: 600;
  font-family: 'Poppins', sans-serif;
  font-size: 13px;
  width:250px;
  transition: ease-in .2s;
}
/* project contaciner end */

/* testimonials start */
.testimonials h1{
  margin-top:5px;
  letter-spacing: normal;
}
.testimonials .testGrid{
display: grid;
grid-template-columns:repeat(3,1fr);
gap: 25px;
cursor: pointer;
padding-left:60px;
padding-right:60px;
padding-top:60px;

}
.testGrid .testProfile{
border-radius: 7px;
border: 1px solid rgb(211, 208, 208);
background-color: white;
padding: 17px;

}
.testGrid .testProfile .test{
  display: flex;
  flex-direction: row;
  margin-left: 20px;
  text-align: start;
}
.testProfile .test img{
  width: 50px;
  height: 100%;
  border-radius: 50px;
  background-color: white;
}
.testGrid .testProfile .test p{
  font-size: 18px;
  font-weight: 500;
    font-family: 'Poppins', sans-serif;
    letter-spacing:0px;
    margin-left: 18px;
}
.testGrid .testProfile .test span{
  font-size: 18px;
    font-family: 'Poppins', sans-serif;
    color: gray;
}
.testGrid .testProfile .testBio {
font-size: 18px;
color: rgb(48, 46, 46);
letter-spacing: 0px;
font-weight:normal;
text-align:start;
margin-left: 20px;
padding: 10px;
}

/* testimonials end */

/* desgin gallary section start*/
.designGallary .desingGrid{
  display: grid;
  grid-template-columns:repeat(3,1fr);
gap: 15px;
cursor: pointer;
padding: 20px;
/* height: 200px; */
}
.designGallary h1{
  margin-top: 50px !important;
  letter-spacing: normal;
}
.desingGrid  img{
width: 100%;
height: auto;
  border-radius: 9px;
margin-top: 0px;
cursor: pointer;
}
.desingGrid  img:hover{
 transform: scale(1.2);
}



/* design gallary section end */

/* ratting design  */
.ratting{
  display:flex;
  flex-direction: row;
  margin-left: 8px;
}
.ratting span{
  color: gray;
  font-size: 20px;
}
.emptySapce{
  padding: 70px;
}

/* mobiel responsive design start */

@media screen and (max-width:767px){
.serviceGrid{
grid-template-columns:repeat(1,4fr);

}
section h1{
  margin-top: 30px;
}
.testimonials .testGrid{
grid-template-columns:repeat(1,3fr);
}
.designGallary .desingGrid{
 
  grid-template-columns:repeat(1,8fr);
 
  gap: 6px;
}

.projectContainer{
  margin: 40px 10px 10px 10px;
}

.formContainer{
  display: flex;
  flex-direction:column;  
}
}
#form{
  display: flex;
  flex-direction: column;
}
.error-input{
  border: 2px solid red !important;
  animation: shake .1s linear;
  animation-iteration-count: 3;
  position: relative;
}
@keyframes shake {
  0% {
    left: -5px;
  }
  100% {
    right: -5px;
  }
}
